# Godot-specific ignores
.godot/
!/.godot/user_credentials/
!/.godot/user_credentials/ci_stored_credentials
!/.godot/export_presets.cfg
!/.godot/project_metadata.cfg

# Mono-specific ignores
.mono/
obj/
bin/

# General ignores
*.o
*.lo
*.so
*.a
*.obj
*.pyc
*.pyd
*.pyo
*.swp
*~
.DS_Store
Thumbs.db

# Exported game files
*.exe
*.pck
*.zip
*.dmg